@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: url("./Assets/background.png") #fafafa;
  font-family: "Roboto", sans-serif;
  /* overflow: hidden; */
}
