@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: url("./Assets/background.png") #fafafa;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
